<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
  <title>代理专区</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/jquery-1.10.2.min.js"></script>
</head>

<body>
  <div class="wrapper" style="padding-bottom: 120px;">
    <div class="logo-head">
      <div class="logon-content">
        <img src="./img/logo.png" alt="">
      </div>
    </div>
    <div class="container-full">
      <div class="tips-page clearfix">
        <a href="JavaScript:void(0)">代理专区</a>
        <a href="JavaScript:void(0)" class="on">实体渠道对外合作 </a>
        <div class="city-tips clearfix">
          <span>北京</span>
          <div class="select-city">
            <div class="city-qh">
              切换
            </div>
            <div class="select-city-box hide">
              <p class="tips">切换省份</p>
              <ul class="clearfix">
                <li class="tips">A-G</li>
                <li class="on">
                  <a href="">北京</a>
                </li>
                <li>
                  <a href="">安徽</a>
                </li>
                <li>
                  <a href="">重庆</a>
                </li>
                <li>
                  <a href="">福建</a>
                </li>
                <li>
                  <a href="">广东</a>
                </li>
                <li>
                  <a href="">甘肃</a>
                </li>
                <li>
                  <a href="">广西</a>
                </li>
                <li>
                  <a href="">贵州</a>
                </li>
              </ul>
              <ul class="clearfix">
                <li class="tips">H-J</li>
                <li>
                  <a href="">湖北</a>
                </li>
                <li>
                  <a href="">湖南</a>
                </li>
                <li>
                  <a href="">河北</a>
                </li>
                <li>
                  <a href="">河南</a>
                </li>
                <li>
                  <a href="">海南</a>
                </li>
                <li>
                  <a href="">黑龙江</a>
                </li>
                <li>
                  <a href="">江苏</a>
                </li>
                <li>
                  <a href="">吉林</a>
                </li>
                <li>
                  <a href="">江西</a>
                </li>
              </ul>
              <ul class="clearfix">
                <li class="tips">L-S</li>
                <li>
                  <a href="">辽宁</a>
                </li>
                <li>
                  <a href="">内蒙古</a>
                </li>
                <li>
                  <a href="">宁夏</a>
                </li>
                <li>
                  <a href="">青海</a>
                </li>
                <li>
                  <a href="">山东</a>
                </li>
                <li>
                  <a href="">上海</a>
                </li>
                <li>
                  <a href="">山西</a>
                </li>
                <li>
                  <a href="">陕西</a>
                </li>
                <li>
                  <a href="">四川</a>
                </li>
              </ul>
              <ul class="clearfix">
                <li class="tips">T-Z</li>
                <li>
                  <a href="">天津</a>
                </li>
                <li>
                  <a href="">新疆</a>
                </li>
                <li>
                  <a href="">西藏</a>
                </li>
                <li>
                  <a href="">云南</a>
                </li>
                <li>
                  <a href="">浙江</a>
                </li>

              </ul>
            </div>
          </div>

        </div>
      </div>
      <div class="container-box clearfix">
        <div class="container-left fl">
          <ul>
            <li class="parent has-child on">
              <div>
                代理商合作政策
              </div>
              <ul class="child-menu">
                <li>资质要求</li>
                <li>转入条件</li>
                <li>佣金</li>
                <li>奖惩须知</li>
              </ul>
            </li>
            <li class="parent">
              <div>
                合作联系人
              </div>
            </li>
            <li class="parent">
              <div class="active">
                留言板
              </div>
            </li>
          </ul>
        </div>
        <div class="container-right fr container-form">
          <h3>中国电信加盟代理意向留言板</h3>
          <div class="form-box clearfix">
            <div class="label">
              拟开店地址
            </div>
            <div class="form-group has-more required">
              <input type="text" placeholder="省市" name="" id="">
            </div>
            <div class="form-group  ">
              <input type="text" placeholder="请输入您的区县" name="" id="">
            </div>
          </div>
          <div class="form-box clearfix">
            <div class="label">
              请与我联系
            </div>
            <div class="form-group required">
              <input type="text" placeholder="请输入您的姓名" name="" id="">
            </div>
            <div class="form-group required">
              <input type="text" placeholder="请输入您的联系电话" name="" id="">
            </div>
          </div>
          <div class="form-box clearfix">

            <div class="form-textarea">
              <textarea name="" id="" cols="30" rows="10">请在此留言</textarea>
            </div>
           
        </div>
        <div class="form-box clearfix">
          <div class="form-code clearfix">
            <div class="btn disable fr">提交</div>
            <div class="code-box clearfix fr">
              <div class="img"><img src="./img/code.png" alt=""></div>
              <div class="input"><input type="text" placeholder="请输入图形验证码" name="" id=""></div>
            </div>
         

          </div>
        </div>
        </div>
      </div>

    </div>
    <div class="foot">
      <p>版权所有©2012 中国电信集团公司</p>
      <p>[ 增值电信业务经营许可证 A2.B1.B2-20090001 ] ICP 证号:京 ICP 备 05033023号</p>
    </div>
</body>
<script>
  $('.city-tips').hover(function () {
    $('.select-city-box ').removeClass('hide')
  }, function () {
    $('.select-city-box ').addClass('hide')
  })
  $('.has-child').on('click', function () {
    $(this).toggleClass('on')
  })
</script>

</html>